.articlePageWrapper {
  min-height: 74vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  h2 {
    font-family: 'Graphie-Bold';
    text-align: center;
    margin: 10vh 0;
    font-size: 64px;
    font-weight: 700;
    // letter-spacing: 2.22px;
    margin-bottom: 5vh;
    margin-top: 128px;
    // @media (max-width: 1100px) {
    //   font-size: 42px;
    // }
    @media (max-width: 700px) {
      margin-top: 80px;
      font-size: 36px;
      text-align: left;
      // letter-spacing: initial;
    }
  }
}

.articleContentGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 128px;

  .articleContentWrapper {
    max-width: 354px;
    // border-radius: 8px;
    overflow: hidden;
    // border: $content-border;
    // background-color: white;
    @media (max-width: 425px) {
      width: 86vw;
    }
  }

  .articleContent {
    // img {
    //   @media (max-width: 700px) {
    //     height: 366px !important;
    //     width: 366px !important;
    //   }
    // }
    // padding: 0 20px;
    // padding-left: 0;
    p {
      margin-top: 15px;
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;

      strong {
        font-size: 16px;
        font-weight: 600;
        &:last-child {
          margin-top: 8px;
        }
      }
    }
  }
  @media (max-width: 1400px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 850px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 700px) {
    padding-bottom: 80px;
  }
}

// .show {
//   opacity: 1;
// }
// .none {
//   opacity: 0;
// }
